<div class="container" >
  <div class="jumbotron single" style="float:left; display:block;" id="ba09_panel" >
    <h3>Bachelor PO 2009</h3>
    <hr class="my-3">
    <div>
      <!-- 1st Part of the Bachelor PO09-->
      <div class="card secondary_panel">
        <div class="card-header" title="For further information click info box" style="padding-top:0.5rem; padding-bottom:0.5rem;">
          <a class="collapsed" data-toggle="collapse" href="#collapse_base09"
             style= "text-decoration: none; color:inherit;">
            <i class="fa fa-plus-square"></i>
            <span>1st Study Part</span>
          </a>
          <span class="badge badge-info float-right" data-toggle="modal" data-target="#info_base09" style="cursor:pointer;">Info</span>
          <div class="modal fade" id="info_base09">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">Bachelor PO 2009</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                  <div style="text-align:center;">
                    <img src="<%= image_path("ba09_firstpart.png")%>" style="max-width:90%;"></img>
                  </div>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- container to wrap all coursecards -->
        <div class="collapse" id="collapse_base09">
          <div class="card-body" style="padding-top:0.5rem; padding-bottom:0.7rem;">
            <%= render partial: "layouts/ba09_coursecard_basecourse", locals: {field: @swt.first.ba_field_area,
              field_courses: @swt, title: "Contains all courses from the field "}%>
            <%= render partial: "layouts/ba09_coursecard_basecourse", locals: {field: @mua.first.ba_field_area,
              field_courses: @mua, title: "Contains all courses from the field "}%>
            <%= render partial: "layouts/ba09_coursecard_basecourse", locals: {field: @ess.first.ba_field_area,
              field_courses: @ess, title: "Contains all courses from the field "}%>
            <%= render partial: "layouts/ba09_coursecard_basecourse", locals: {field: @mmw.first.ba_field_area,
              field_courses: @mmw, title: "Contains all courses from the field "}%>
            <hr>
            <div class="card coursecard">
              <div class="card-header" style="padding-top:0.5rem; padding-bottom:0.5rem;">
                <a class="collapsed" data-toggle="collapse" href="#collapse_base09_math"
                   style= "text-decoration: none; color:inherit;">
                <i class="fa fa-plus-square"></i>
                <span style="font-size:0.8rem;">Math for Computer Science</span>
              </a>
                <span class="badge badge-pill rounded float-right" id="Math">Math
                </span>
              </div>
              <div class="collapse" id="collapse_base09_math">
                <div class="card-body">
                  <div style="font-size: 0.8rem; border: 1px solid lightgrey; border-radius: 5px;">
                    <div style="padding:0.5rem;">
                      Analysis, Lineare Algebra and Stochastik underwent no changes in the new examination
                      regulations. They can be transmitted with no further restriction. By reasons of
                      clarity they have been omitted in this StudyPlaner.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card coursecard">
              <div class="card-header" style="padding-top:0.5rem; padding-bottom:0.5rem;">
                <a class="collapsed" data-toggle="collapse" href="#collapse_base09_nbf"
                   style= "text-decoration: none; color:inherit;">
                <i class="fa fa-plus-square"></i>
                <span style="font-size:0.8rem;">Nebenfach and Studium Generale</span>
              </a>
                <span class="badge badge-pill rounded float-right" id="Minor">Minor
                </span>
              </div>
              <div class="collapse" id="collapse_base09_nbf">
                <div class="card-body">
                  <div style="font-size: 0.8rem; border: 1px solid lightgrey; border-radius: 5px;">
                    <div style="padding:0.5rem;">
                      Due to the great diversity of how Nebenfach and Studium Generale are designed, both
                      can be transmitted with no further restriction. By reasons of
                      clarity they have been omitted in this StudyPlaner.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 2nd Part of the Bachelor PO09-->
      <div class="card secondary_panel" style="margin-top:3%;">
        <div class="card-header"
          title="For further information click info box"
            style="padding-top:0.5rem; padding-bottom:0.5rem;">
          <a class="collapsed" data-toggle="collapse" href="#collapse_main09"
             style= "text-decoration: none; color:inherit;">
            <i class="fa fa-plus-square"></i>
            <span>2nd Study Part</span>
          </a>
          <span class="badge badge-info float-right" data-toggle="modal" data-target="#info_main09" style="cursor:pointer;">Info</span>
          <div class="modal fade" id="info_main09">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">Bachelor PO 2009</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                  <div style="text-align:center;">
                    <img src="<%= image_path("ba09_secondpart.png")%>" style="max-width:90%;"></img>
                  </div>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="collapse" id="collapse_main09">
          <div class="card-body" style="padding-top:0.5rem; padding-bottom:0.7rem;">
            <%= render partial: "layouts/ba09_coursecard_maincourse",
              locals: {field: @swt_main.first.ba_field_area,
                        field_courses: @swt_main,
                          title: "The current mandatory module consists of two selectable courses from the field "}%>
            <%= render partial: "layouts/ba09_coursecard_maincourse",
              locals: {field: @mua_main.first.ba_field_area,
                        field_courses: @mua_main,
                          title: "The current mandatory module consists of two selectable courses from the field "}%>
            <%= render partial: "layouts/ba09_coursecard_maincourse",
              locals: {field: @ess_main.first.ba_field_area,
                        field_courses: @ess_main,
                          title: "The current mandatory module consists of two selectable courses from the field "}%>
            <%= render partial: "layouts/ba09_coursecard_maincourse",
              locals: {field: @mmw_main.first.ba_field_area,
                        field_courses: @mmw_main,
                          title: "The current mandatory module consists of two selectable courses from the field "}%>
            <hr class="my-3">
            <!-- Proseminar,Mentoring -->
            <div class="card coursecard">
              <div class="card-header card-body-format" style="padding-top:0.5rem; padding-bottom:0.5rem;">
                <a class="collapsed" data-toggle="collapse" href="#collapse_main09_pro"
                   style= "text-decoration: none; color:inherit;">
                <i class="fa fa-plus-square"></i>
                <span style="font-size:0.8rem;">Proseminar and Mentoring</span>
              </a>
                <span class="badge badge-pill rounded float-right" id="Minor">Minor
                </span>
                <span class="badge badge-pill rounded float-right" id="ECTS">4.0
                </span>
              </div>
              <div class="collapse" id="collapse_main09_pro">
                <div class="card-body card-body-format">
                  <div class="custom-control custom-checkbox" style="margin-bottom:5px; margin-left:5px">
                    <input type="checkbox" class="custom-control-input" id="ba09_check_mentoring" autocomplete="off">
                    <label class="custom-control-label" for="ba09_check_mentoring" style="font-size:0.9rem;">Mentoring was succesfully passed</label>
                  </div>
                  <hr class="my-2">
                  <div class="input-group input-group-sm" id="ba09_diverse_pro">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Proseminar</span>
                      <span class="input-group-text">Grade</span>
                    </div>
                    <%= select_tag "ba09_grade_pro",
                      options_for_select([0, 1.0, 1.3, 1.7, 2.0, 2.3, 2.7, 3.0, 3.3, 3.7, 4.0, 5.0]),
                      {class:"custom-select form-control", autocomplete: "off"} %>

                    <div class="input-group-prepend" style="margin-left:5px">
                      <span class="input-group-text">Proseminar</span>
                      <span class="input-group-text">Attempt</span>
                    </div>
                    <%= select_tag "ba09_attempt_pro", options_for_select((0..3).step(1)),
                      {class:"custom-select form-control", autocomplete: "off"} %>
                  </div>
                </div>
              </div>
            </div>
            <!-- NF,SG -->
            <div class="card coursecard" style="margin-top:1.5%;">
              <div class="card-header" style="padding-top:0.5rem; padding-bottom:0.5rem;">
                <a class="collapsed" data-toggle="collapse" href="#collapse_main09_nbf"
                   style= "text-decoration: none; color:inherit;">
                <i class="fa fa-plus-square"></i>
                <span style="font-size:0.8rem;">Nebenfach and Studium Generale</span>
              </a>
                <span class="badge badge-pill rounded float-right" id="Minor">Minor
                </span>
              </div>
              <div class="collapse" id="collapse_main09_nbf">
                <div class="card-body">
                  <div style="font-size: 0.8rem; border: 1px solid lightgrey; border-radius: 5px;">
                    <div style="padding:0.5rem;">
                      Due to the great diversity of how Nebenfach and Studium Generale are designed, both
                      can be transmitted with no further restriction. By reasons of
                      clarity they have been omitted in this StudyPlaner.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Bachelorthesis -->
            <div class="card coursecard" style="margin-top:1.5%;">
                <div class="card-header card-header-format">
                  <a class="collapsed" data-toggle="collapse" href="#collapse_ba09_thesis"
                     style= "text-decoration: none; color:inherit;">
                    <i class="fa fa-plus-square"></i>
                    <span style="font-size:0.8rem;">Bachelor Thesis</span>
                  </a>
                </div>
                <div class="collapse"  id="collapse_ba09_thesis">
                  <div class="card-body card-body-format">
                    <div class="input-group input-group-sm" id="ba09_diverse_thesis"
                        style="padding-left:20%; padding-right:20%;">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Grade</span>
                      </div>
                      <%= select_tag "ba09_grade_thesis",
                        options_for_select([0, 1.0, 1.3, 1.7, 2.0, 2.3, 2.7, 3.0, 3.3, 3.7, 4.0, 5.0]),
                        {class:"custom-select form-control", autocomplete: "off"} %>
                      <div class="input-group-prepend" style="margin-left:5px">
                        <span class="input-group-text">Attempt</span>
                      </div>
                      <%= select_tag "ba09_attempt_thesis", options_for_select((0..2).step(1)),
                        {class:"custom-select form-control", autocomplete: "off"} %>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="my-4">
    <div>
      <button class="btn btn-dark btn-sm"
        title = "Decollapse the Cards for the 1st and 2nd Part of the Bachelor" id="show_button_ba09">Show all</button>
      <button class="btn btn-dark btn-sm"
        title = "Collapses the Cards for the 1st and 2nd Part of the Bachelor" id="hide_button_ba09">Hide all</button>
    </div>
  </div>

  <div id="ba17">
  </div>
  <div style="clear:both"></div>
</div>

<div class="container" style="margin-bottom:10%;" >
  <hr>
  <div class="btn-toolbar justify-content-between">
    <div>
    </div>
    <%= link_to "Transition", {controller: "static_pages", action: "ba_transition"},
      class:"btn btn-lg btn-dark justify-content-between", id:"ba_transition", remote: true %>
    <div>
    </div>
  </div>
</div>
